<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/bsbd_homework</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <mapping class="entity.AcceptanceEntity"/>
      <mapping class="entity.ActEntity"/>
      <mapping class="entity.ClientEntity"/>
      <mapping class="entity.DocumentEntity"/>
      <mapping class="entity.EmployeeEntity"/>
      <mapping class="entity.InventoryBookEntity"/>
      <mapping class="entity.OkeiEntity"/>
      <mapping class="entity.OkpoEntity"/>
      <mapping class="entity.Order1Entity"/>
      <mapping class="entity.OrganizationEntity"/>
      <mapping class="entity.PowerOfAttorneyEntity"/>
      <mapping class="entity.ProductEntity"/>
      <mapping class="entity.PurchaseEntity"/>
      <mapping class="entity.StoreEntity"/>
      <mapping class="entity.VehicleEntity"/>
      <mapping class="entity.WrittenOffEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>